// Variables

$color-primary: #DF426F;
$color-secondary: #FFFFFF;
$color-tertiary: #2b2b2b;
$color-quaternary: #7C7C7C;



html, body{
    height: 100%;
    width: 100%;
}

.text--primary{
    font-size: 20px;
    color: $color-quaternary;
    line-height: 28px;
    font-weight: 300 !important;
}

body{
    margin: 0;
    position: relative;
}
html::-webkit-scrollbar, html ::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track, html ::-webkit-scrollbar-track {
  background: $color-quaternary;
}

html::-webkit-scrollbar-thumb, html ::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: 5px;
}
html::-webkit-scrollbar-thumb:hover, html ::-webkit-scrollbar-thumb:hover {
  background: $color-primary;
}
* {
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container{
    padding: 0 9vw;
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}

.card{
    width: 100%;
    height: 480px;
    box-shadow: 34px 55px 69px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.btn {
    background: none;
    border: none;
    padding: 0 40px;
    height: 55px;
    font-weight: 500 !important;
    font-size: 18px;
    border-radius: 50px;
    line-height: 36px;
    text-align: center;
    color: $color-primary;
    position: relative;
    transition: .2s ease-out;
    bottom: 0;

    &:focus{
        outline: none;
        box-shadow: 0px 18px 40px rgba(223, 66, 111, 0.35);
    }
    &:hover{
        bottom: 5px;
    }

    &--primary{
        color: $color-secondary;
        background: $color-primary;
        border: 3px solid $color-primary;
    }
    &--secondary{
        border: 2px solid $color-primary;
    }
}

.title{
    font-style: normal;
    font-weight: 600;
}

.section{
    min-height: 95vh;
}

.header{
    background-image: url('../gallery/background.jpeg');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
    
    &__navbar {
        transition: .7s;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
    }

    &__jumbotron{
        position: absolute;
        top: 50%;
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__logo{
        width: 190px;
        margin-top: 30px;
    }

    &__title{
        color: $color-secondary;
        font-size: 40px;
        line-height: 60px;
        max-width: 700px;
        margin: 0 auto 20px auto;
    }
}

.main{
    color: $color-tertiary;
    text-align: left;

    .text-bold{
        font-size: 20px;
        position: relative;
    }

    .title--medium{
        font-size: 36px;
        margin: 0;
    }

    .list{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .description{
        display: flex;
        align-items: center;

        &__title{
            font-size: 40px;
            margin-bottom: 0px;
        }

        &__paragraph{
            margin-bottom: 30px;
        }

    }
    
    .people{

        &__label{
            font-size: 16px;
        }

        &__input{
            width: 285px;
            border-radius: 2px;
            display: block;
            margin-top: 8px;
            padding: 10px 24px 8px 24px;
            border: 2px solid rgba(124, 124, 124, 0.5);
            margin-bottom: 25px;
            position: relative;

            &::placeholder{
                color: rgba(124, 124, 124, 0.5);
            }

            &:focus{
                outline: none;
                border: none;
                border-top: 2px solid $color-secondary;
                border-bottom: 2px solid $color-primary;
            }

        }

        &__count{
            float: right;
            color: rgba(124, 124, 124, 0.5);
        }

        &__person{
            margin-top: 35px;
        }

        &__deleteBtn{
            float: right;
            width: 25px;
        }

        &__form{
            display: flex;
            align-items: center;
        }
        &__btn{
            margin-top: 10px;
        }

        &__list{
            overflow: auto;
            height: 275px;
        }
    }

    .groups{

        &__copyIcon{
            position: relative;
            top: 3px;
        }

        &__form{
            text-align: center;
            margin-top: 150px;
        }

        &__label{
            bottom: 45px;
            font-size: 24px;
            font-weight: 400;
            position: relative;

            &--output{
                position: absolute;
                font-size: 50px;
                font-weight: 600;
                left: 50%;
                top: -30px;
                transform: translate(-50%, -50%);
            }
        }
        
        &__group{
            padding: 0;
            max-height: 0;
            overflow: hidden;
            transition: max-height .2s ease-out;
        }

        &__person{
            padding-left: 16px;
            height: 60px;
            display: flex;
            align-items: center;
            width: 100%;
            transition: .3s;
            font-weight: 300 !important;

            &:hover{
                background: #f7f7f7;
            }
        }

        &__btn{
            float: left;
            margin-top: 10px;
        }

        .active{
            background: $color-primary;
            color: $color-secondary;
        }

        &__dropdown {
            height: 60px;
            padding: 8px 16px;
            display: flex;
            align-items: center;
            border: none;
            width: 100%;
            text-align: left;
            color: $color-tertiary;
            background: $color-secondary;
            transition: all 0.3s;
            font-weight: 500 !important;

            &:hover{
                color: $color-secondary;
                background: $color-primary;
            }
        }

        &__expandIcon{
            width: 30px;
            position: relative;
            left: 20px;
        }

        &__list{
            overflow: auto;
            height: 275px;
        }

        &__slider{
            margin-bottom: 35px;
            width: 100%;
            -webkit-appearance: none;     
            height: 7px;
            outline: none;
            transition: opacity 0.2s;  
            -webkit-transition: 0.2s;  
            background: $color-quaternary;
        
            

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 35px;
                height: 35px;
                background: $color-primary;
                box-shadow: 0px 18px 40px rgba(223, 66, 111, 0.35);
                border-radius: 50px;
                border: 3px solid $color-primary;
                transition: .3s;
                cursor: pointer;
            }

            &::-moz-range-thumb {
                -webkit-appearance: none;
                transition: .3s;
                appearance: none;
                width: 35px;
                height: 35px;
                border: 3px solid $color-primary;
                background: $color-primary;
                box-shadow: 0px 18px 40px rgba(223, 66, 111, 0.35);
                border-radius: 50px;
                cursor: pointer;
            }

            &:focus::-moz-range-thumb{
                background: $color-secondary;
            }
        }
    }
}

.footer{
    margin: 4rem 0 3rem 0;
    background: $color-secondary;
    font-size: 20px;
    font-weight: normal;
    text-align: center;

    &__link{
        color: $color-primary;
        text-decoration: none;
        font-weight: 900;
    }
}

@media (max-width: 1045px) {
    .header__title {
      margin-top: 8vw;
      font-size: 35px;
      line-height: 45px;
    }
    .header__logo {
      width: 150px;
      margin-top: 5px;
    }
    .grid{
        grid-template-columns: repeat(1, 1fr) !important;
    }
  }

@media (max-width: 530px) {
    .header{
        text-align: left;
    }
    .description{
        &__title {
            font-size: 41px !important;
            line-height: calc(3vw + 39px);
            margin-bottom: 10px;
        }

        &__photo{
            height: 180px !important;
        }
    }
    .btn{
        width: 100%;
    }
}


.wrapper{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);

    
    .popup{
        max-width: 460px;
        margin: auto;
        background: $color-secondary;
        padding: 14px 24px 30px 24px;

        &__message{
            font-size: 18px;
            margin-bottom: 2rem;
        }

        &__header{
            font-size: 30px;
            margin-bottom: 1rem;
        }
    }
}

@media (max-width: 485px) {
    .popup{
        width: 90%;
    }

    .people__input{
        width: 255px !important;

    }
}
