html, body {
  height: 100%;
  width: 100%;
}

.text--primary {
  font-size: 20px;
  color: #7C7C7C;
  line-height: 28px;
  font-weight: 300 !important;
}

body {
  margin: 0;
  position: relative;
}

html::-webkit-scrollbar, html ::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track, html ::-webkit-scrollbar-track {
  background: #7C7C7C;
}

html::-webkit-scrollbar-thumb, html ::-webkit-scrollbar-thumb {
  background: #176BEF;
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover, html ::-webkit-scrollbar-thumb:hover {
  background: #176BEF;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins';
}

.container {
  padding: 0 9vw;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}

.card {
  width: 100%;
  height: 480px;
  -webkit-box-shadow: 34px 55px 69px rgba(0, 0, 0, 0.1);
          box-shadow: 34px 55px 69px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.btn {
  background: none;
  border: none;
  padding: 0 40px;
  height: 55px;
  font-weight: 500 !important;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #176BEF;
  position: relative;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  bottom: 0;
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: 0px 18px 40px rgba(23, 107, 239, 0.35);
          box-shadow: 0px 18px 40px rgba(23, 107, 239, 0.35);
}

.btn:hover {
  bottom: 5px;
}

.btn--primary {
  color: #FFFFFF;
  background: #176BEF;
  border: 3px solid #176BEF;
}

.btn--secondary {
  border: 3px solid #176BEF;
}

.title {
  font-style: normal;
  font-weight: 600;
}

.section {
  min-height: 95vh;
}

.header {
  background-image: url("../gallery/background.jpeg");
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  position: relative;
}

.header__navbar {
  -webkit-transition: .7s;
  transition: .7s;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__jumbotron {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__logo {
  width: 190px;
  margin-top: 5px;
}

.header__title {
  color: #FFFFFF;
  font-size: 64px;
  line-height: 93px;
}

.main {
  color: #2b2b2b;
  text-align: left;
}

.main .text-bold {
  font-size: 20px;
  position: relative;
}

.main .title--medium {
  font-size: 36px;
  margin: 0;
}

.main .divider {
  height: 4px;
  background: #7C7C7C;
  border-color: #7C7C7C;
}

.main .list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .description__title {
  font-size: 40px;
  margin-bottom: 0px;
}

.main .description__paragraph {
  margin-bottom: 30px;
}

.main .people__label {
  font-size: 16px;
}

.main .people__input {
  width: 285px;
  display: block;
  margin-top: 8px;
  padding: 10px 24px 8px 24px;
  border: 2px solid rgba(124, 124, 124, 0.5);
  margin-bottom: 25px;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
}

.main .people__input::-webkit-input-placeholder {
  color: rgba(124, 124, 124, 0.5);
}

.main .people__input:-ms-input-placeholder {
  color: rgba(124, 124, 124, 0.5);
}

.main .people__input::-ms-input-placeholder {
  color: rgba(124, 124, 124, 0.5);
}

.main .people__input::placeholder {
  color: rgba(124, 124, 124, 0.5);
}

.main .people__input:focus {
  border-color: #FFFFFF;
  border-bottom: 2px solid #176BEF;
}

.main .people__count {
  float: right;
  color: #7C7C7C;
}

.main .people__person {
  margin-top: 35px;
}

.main .people__deleteBtn {
  float: right;
  width: 25px;
}

.main .people__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .people__btn {
  margin-top: 10px;
}

.main .people__list {
  overflow: auto;
  height: 275px;
}

.main .groups__form {
  text-align: center;
  margin-top: 150px;
}

.main .groups__label {
  bottom: 45px;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}

.main .groups__label--output {
  position: absolute;
  font-size: 50px;
  font-weight: 600;
  left: 50%;
  top: -30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .groups__group {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

.main .groups__person {
  padding-left: 16px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 300 !important;
}

.main .groups__person:hover {
  background: #f7f7f7;
}

.main .groups__btn {
  float: left;
}

.main .groups .active {
  background: #176BEF;
  color: #FFFFFF;
}

.main .groups__dropdown {
  height: 60px;
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  width: 100%;
  text-align: left;
  color: #2b2b2b;
  background: #FFFFFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 500 !important;
}

.main .groups__dropdown:hover {
  color: #FFFFFF;
  background: #176BEF;
}

.main .groups__expandIcon {
  width: 30px;
  position: relative;
  left: 20px;
}

.main .groups__list {
  overflow: auto;
  height: 320px;
}

.main .groups__slider {
  margin-bottom: 35px;
  width: 100%;
  -webkit-appearance: none;
  height: 7px;
  outline: none;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-transition: 0.2s;
  background: #7C7C7C;
}

.main .groups__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  background: #176BEF;
  -webkit-box-shadow: 0px 18px 40px rgba(23, 107, 239, 0.35);
          box-shadow: 0px 18px 40px rgba(23, 107, 239, 0.35);
  border-radius: 50px;
  border: 3px solid #176BEF;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.main .groups__slider::-moz-range-thumb {
  -webkit-appearance: none;
  -webkit-transition: .3s;
  transition: .3s;
  -moz-appearance: none;
       appearance: none;
  width: 35px;
  height: 35px;
  border: 3px solid #176BEF;
  background: #176BEF;
  box-shadow: 0px 18px 40px rgba(23, 107, 239, 0.35);
  border-radius: 50px;
  cursor: pointer;
}

.main .groups__slider:focus::-moz-range-thumb {
  background: #FFFFFF;
}

.footer {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  height: 60px;
}

.footer__link {
  color: #176BEF;
  text-decoration: none;
}

@media (max-width: 1045px) {
  .header__title {
    margin-top: 8vw;
    font-size: 35px;
    line-height: 45px;
  }
  .header__logo {
    width: 150px;
    margin-top: 5px;
  }
  .grid {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (max-width: 530px) {
  .header {
    text-align: left;
  }
  .description__title {
    font-size: 41px !important;
    line-height: calc(3vw + 39px);
    margin-bottom: 10px;
  }
  .description__photo {
    height: 180px !important;
  }
  .description__paragraph {
    margin-top: 0;
  }
}

.wrapper {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.wrapper .popup {
  max-width: 460px;
  margin: auto;
  background: #FFFFFF;
  padding: 24px 24px 30px 24px;
}

.wrapper .popup__message {
  font-size: 18px;
  margin-bottom: 3rem;
}

.wrapper .popup__header {
  font-size: 30px;
}

@media (max-width: 485px) {
  .popup {
    width: 90%;
  }
  .people__input {
    width: 255px !important;
  }
}
/*# sourceMappingURL=main.css.map */