html, body{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
}
html::-webkit-scrollbar, html ::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track, html ::-webkit-scrollbar-track {
  background: #7C7C7C;
}

html::-webkit-scrollbar-thumb, html ::-webkit-scrollbar-thumb {
  background: #176BEF;
  border-radius: 5px;
}
html::-webkit-scrollbar-thumb:hover, html ::-webkit-scrollbar-thumb:hover {
  background: #176BEF;
}
* {
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container{
    padding: 0 9vw;
}



.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px;
}

.btn {
    background: none;
    border: none;
    width: 220px;
    height: 55px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #176BEF;
    position: relative;
    transition: .2s ease-out;
    bottom: 0;

    &:focus{
        outline: none;
        box-shadow: 0px 18px 40px rgba(23, 107, 239, 0.35);
    }
    &:hover{
        bottom: 5px;
    }

    &--primary{
        color: #FFFFFF;
        background: #176BEF;
        border: 3px solid #176BEF;
    }
    &--secondary{
        border: 3px solid #176BEF;
    }
}

.title{
    font-style: normal;
    font-weight: 600;
}

.marginTop{
    margin-top: 8vw;
}

.header{
    background-image: url('./gallery/background.jpeg');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
    
    &__navbar {
        transition: .7s;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }

    &__jumbotron{
        position: absolute;
        top: 50%;
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__logo{
        width: 190px;
        margin-top: 5px;
    }

    &__title{
        color: #FFFFFF;
        font-size: 72px;
        line-height: 93px;
    }
}

.main{
    color: #2b2b2b;
    text-align: left;

    .description{
        &__title{
            font-size: 60px;
        }

        &__photo{

            background-image: url('./gallery/description__photo.png');
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;

            // background: grey;
            width: 80%;
            height: 300px;
        }

        &__paragraph{
            font-size: 20px;
            line-height: 28px;
            color: #7C7C7C;
            margin-bottom: 30px;
        }

        &__title--small{
            font-size: 20px;
            position: relative;
            &:after{
                background: #176BEF;
                height: 6px;
                width: 110px;
                font-size: 20px;
                line-height: 28px;
                left: 0;
                bottom: -4px;
                position: absolute;
                content: '';
                display: block;
            }
        }

    }
    
    .people{
        &__label{
            font-size: 16px;
        }

        &__input{
            width: 285px;
            display: block;
            margin-top: 8px;
            font-size: 20px;
            padding: 10px 24px 8px 24px;
            color: #7C7C7C;
            border: 2px solid rgba(124, 124, 124, 0.5);
            margin-bottom: 25px;
            position: relative;
            transition: .2s;

            &::placeholder{
                color: rgba(124, 124, 124, 0.5);
            }

            &:focus{
                border-color: white;
                border-bottom: 2px solid#176BEF;
            }

        }

        &__card{
            width: 100%;
            height: 480px;
            box-shadow: 34px 55px 69px rgba(0, 0, 0, 0.1);
            padding: 30px;
        }

        &__header{
            font-size: 36px;
            margin: 0;
        }

        &__count{
            float: right;
            color: #7C7C7C;
        }

        &__divider{
            height: 2px;
            background: #7C7C7C;
        }

        &__list{
            list-style: none;
            color: #7C7C7C;
            overflow: auto;
            height: 275px;
            padding: 0;
            font-size: 20px;
        }

        &__person{
            margin-top: 35px;
        }

        &__deleteBtn{
            float: right;
        }

        &__form{
            display: flex;
            align-items: center;
        }
        .clearBtn{
            margin-top: 20px;
        }
    }
}

@media (max-width: 1045px) {
    .header__title {
      margin-top: 8vw;
      font-size: calc(3vw + 30px);
      line-height: calc(3vw + 40px);
    }
    .header__logo {
      width: 150px;
      margin-top: 5px;
    }
    .grid{
        grid-template-columns: repeat(1, 1fr) !important;
    }
  }

@media (max-width: 530px) {
    .header{
        text-align: left;
    }
    .description{
        &__title {
            font-size: 41px !important;
            line-height: calc(3vw + 39px);
            margin-bottom: 10px;
        }

        &__photo{
            height: 180px !important;
        }
        &__paragraph{
            margin-top: 0;
        }
    }
}
